<div class="form__container">
  <form>
    <label for="label">Название</label>
    <input type="text" id="label" name="label"  [(ngModel)]="flower.description">

    <label for="genre">Жанр</label>
    <input type="text" id="genre" name="genre" [(ngModel)]="flower.color">

    <label for="date">Дата написания</label>
    <input type="text" id="date" name="date" placeholder="" [(ngModel)]="flower.count">

    <label for="image">Ссылка на изображение</label>
    <input type="text" id="image" name="image" [(ngModel)]="flower.image">
    <input type="submit" value="Отправить" (click)="submit(flower)">
    <div *ngIf="done">
      <div>Успешно обновлено</div>
    </div>
  </form>
</div>
